<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SE-PA-RE</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<body>

<style>
    body{
         font-family: 'Raleway', sans-serif;
    }
    .nav-tabs {
        justify-content: center;
        flex-wrap: wrap;
        border-bottom: none;
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .nav-tabs .nav-item {
        padding: .5rem;
    }

    .nav-tabs .nav-link {
        background-color: #149dcc;
        border-color: #149dcc;
        color: #ffffff;
        width: 200px;
    }

    .nav-tabs .nav-link.active {
        background-color: #149dcc;
        color: #ffffff;
        border-bottom: 2px solid red;
    }

    .content-title {
        background-color: darkgray;
        width: 100%;
        color: #ffffff;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .link-app {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .content-footer {
        background-color: darkgray;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .list-footer {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .list-footer li a{
        width: 150px;
        font-weight: bold;
    }
</style>


{% load static %}
<div class="container-fluid  content-title">
    <div class="row justify-content-md-center">
        <img src="{% static "app/img/separe-logo.png" %}" width="230" height="50" alt="Separe">
    </div>
</div>


<div class="position-relative overflow-hidden p-3 m-md-3 text-center bg-light">
    <div class="row justify-content-md-center">
        <div class="col-md-5">

            <p class="lead font-weight-normal">
                {% if name is None %}
                    <h4>Seu cadastro já está ativo, acesse o aplicativo e ajude melhorar o mundo.</h4>
                {% else %}
                    <h4>Parabéns {{ name }}, você está pronto(a) para acessar o aplicativo SE-PA-RE. <i
                            class="far fa-smile-beam"> Ficamos felizes por você participar da nossa Equipe.</i></h4>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-12">
            <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">SE-PA-RE: Aplicativo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">Resíduos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                           aria-controls="contact" aria-selected="false">Sobre o Projeto</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col">
                                    <h4>SE-PA-RE: Aplicativo de Coleta de Resíduos</h4>
                                    <br>
                                    <p>O SE-PA-RE: Coleta de Resíduos é um aplicativo focado na solicitação de coletas
                                        de resíduos diretamente de smartphones e tablets Android e iOS.*</p>
                                    <a href="#" title="Download para iOS na Apple Store"><img class="link-app"
                                                                                              src="{% static "app/img/badge-app-store.png" %}"
                                                                                              width="135" height="40"
                                                                                              alt="Apple Store Badge"></a>
                                    <a href="#" title="Download para Android na Play Store"><img class="link-app"
                                                                                                 src="{% static "app/img/google-play-badge.png" %}"
                                                                                                 width="135" height="40"
                                                                                                 alt="Play Store Badge"></a>
                                </div>
                                <div class="col">
                                    <img src="{% static "app/img/separe.png" %}" width="166" height="300" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="content-footer">
    <div class="row justify-content-md-center">
        <div class="col-12 text-center">
            <div class="text-footer">© 2019 Projeto SE-PA-RE All rights reserved</div>
            <ul class="list-footer">
                <li class="list-inline-item"><a class="btn btn-outline-secondary" target="_blank" href="#">Termos de Uso</a></li>
                <li class="list-inline-item"><a class="btn btn-outline-secondary" target="_blank" href="#">Contato</a></li>
                <li class="list-inline-item"><a class="btn btn-outline-secondary" target="_blank" href="#">Notícias</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>